@using Mvc.Mailer
@{
    this.Layout = null;
    ViewBag.VerifyUrl = Url.Abs(Url.Action("Confirm", "BankAccount", new { AccountId = ViewBag.AccountId }));
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html;charset=utf-8" />
</head>
<body>
<font face="arial">
    <table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td colspan="3"><img src='@Url.Abs(Url.Content("~/Content/images/logoemail.png"))' border="0"/><br /><br /></td>
    </tr>
    <tr>
        <td width="25"></td>
        <td width="550">
            <h3 style="color:#cb0c1b;">
                SwissKip New Bank Account Number Created
            </h3>

            <div>
                Hi @ViewBag.FirstName,
                <br />
                <br />
                There has been created a new Bank Account which number is:
                <br />
                <br />
                <strong>@ViewBag.BankAccountNumber </strong>
                <br />
                <br />
                And its password is:  <strong>@ViewBag.Password </strong>
                <br />
                <br />
                Let us know if you need any further support from us.
                <br />
                <br />
                Thanks,
                <br />
                <strong>The SwissKip Team</strong>
                <br />
                <br />
                Do not forward this email. Keep this information in your private mailbox<br /><br />
            </div>
        </td>
        <td width="25"></td>
    </tr>

    <tr><td height="10" bgcolor="#e5e5e5" colspan="3"></td></tr>
    <tr>
        <td width="25" bgcolor="#e5e5e5"></td>
        <td width="550" bgcolor="#e5e5e5">
            <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td width="50"><a href="@Url.Abs(Url.Content("/Home/We"))" style="text-decoration:none;"><font size="1" color="#000">about</font></a></td>
                <td width="45"><a href="@Url.Abs(Url.Content("/Home/Faqs"))" style="text-decoration:none;"><font size="1" color="#000">FAQ</font></a></td>
                <td width="75"><a href="@Url.Abs(Url.Content("/Home/Terms"))" style="text-decoration:none;"><font size="1" color="#000">terms of use</font></a></td>
                <td width="80"><a href="@Url.Abs(Url.Content("/Home/PrivacyPolicy"))" style="text-decoration:none;"><font size="1" color="#000">privacy policy</font></a></td>
                <td width="120"><a href="@Url.Abs(Url.Content("/Home/Contact"))" style="text-decoration:none;"><font size="1" color="#000">contact</font></a></td>
                <td width="180" align="right"><font size="1" color="#000"><strong>© 2012 All Rights Reserved. SwissKip® is a registered trademark</strong></font></td>
            </tr>
            </table>
        </td>
        <td width="25" bgcolor="#e5e5e5"></td>
    </tr>
    <tr><td height="10" bgcolor="#e5e5e5" colspan="3"></td></tr>
    </table>
</font>
</body>
</html>
