@model SwissKip.Web.Models.MyAccountWidgetModel
<div class="rojo22">
    My Account
</div>
<div style="float: left; width: 444px; height: 1px; background: #b5b5b3;">
</div>
<div style="float: left; padding-left: 20px; padding-top: 15px;">
    <div style="float: left; width: 130px;">
        <div style="float: left;">
            <img alt="" width="119" height="130" src=@String.Concat("/Content/images/", Session["username"], ".jpg")>
        </div>
    </div>
    <div style="float:left; width:300px; padding-top:15px;">
        <div class="negro12" >
			<strong> Name:</strong> @Model.FullName
		</div>
        <div class="negro12" style="padding-top:5px;">
			<strong> Email:</strong> @Model.Email
		</div>
        <div class="negro12" style="padding-top:5px;">
			<strong> Dataheir:</strong> @Model.Dataheir 
		</div>
        <div class="negro12" style="padding-top:5px; width:250px;">
			<strong> Witnesses:</strong> 5 Witnesses
		</div>
        <div class="negro12" style="padding-top:5px; width:250px;">
			<strong> Confirmation %:</strong> @Model.Confirmed
		</div>
        <div style="float:left; padding-left:211px; padding-top:23px;">
            <a href="@Url.Action("Index","MyAccount")"><img src="/Content/images/vertodo.png" border="0"></a>
        </div>
    </div>
</div>
