@model SwissKip.Web.Models.AccountEditModel
@{
    ViewBag.Title = "Change Password/E-mail";
}
<div id="contenido">
    <div style="float:left; padding-left:100px;">
        <div class="rojo25" style="width:738px;">
            <div style="float:left;">@ViewBag.Title</div>
            <div style="float:right; padding-top:10px;" class="negro12">
                @Html.ActionLink("[+] My Account", "Index", "MyAccount")
                &nbsp;&nbsp;&nbsp;
                @Html.ActionLink("[+] Change Password", "ChangePassword", "Owner")
                &nbsp;&nbsp;&nbsp;
                @Html.ActionLink("[+] Witness", "EditWitness", "Owner")
                &nbsp;&nbsp;&nbsp;
                @Html.ActionLink(" [+] Recipient","AddRecipient","Owner")
            </div>
        </div>
        <div style="float:left; width:738px; height:1px; z-index:1; margin-top:-3px; background:#b5b5b3;"></div>
        @using (Html.BeginForm())
        {
            <div style="float:left; padding-top:20px;">
                <div style="float:left; width:580px;">
                    <div style="float:left; width:550px; padding-top:8px;">
                        <div style="float:left; width:125px; padding-top:8px;" class="negro13b">Username:</div>
                        <div style="float:left;">@Html.TextBoxFor(x => x.UserName, new { @class = "caja400x23", @readonly = "readonly" })</div>
                    </div>
                    <div style="float:left; width:550px; padding-top:8px;">
                        <div style="float:left; width:125px; padding-top:8px;" class="negro13b">Password:</div>
                        <div style="float:left;">@Html.PasswordFor(x => x.Password, new { @class = "caja400x23" })</div>
                        <div style="float:left;">@Html.ValidationMessageFor(x => x.Password)</div>
                    </div>
                    <div style="float:left; width:550px; padding-top:8px;">
                        <div style="float:left; width:125px;" class="negro13b">Email:</div>
                        <div style="float:left;">@Html.TextBoxFor(x => x.Email, new { @class = "caja400x23" })</div>
                        <div style="float:left;">@Html.ValidationMessageFor(x => x.Email)</div>
                    </div>
                </div>
            </div>
            <div style="float:left; width:738px; margin-top:15px; height:1px; background:#b5b5b3;"></div>
            <div style="float:left; width:738px; padding-top:4px;">
                <div id="Change" style="float:right;">
                    <input type="image" id="Change" name="Change" value="Change" src="../../Content/images/btn_save.png" />
                </div>
                <div style="float:right; padding-right:5px;">
                    <a href="@Url.Action("Index")"><img src="../../Content/images/btn_back.gif" border="0"></a>
                </div>
            </div>
        }
    </div>
</div>