@using System.Configuration
@model SwissKip.Web.Models.SignInModel
@{
    ViewBag.Title = "Change Password";
    //ReCaptcha.PublicKey = ConfigurationManager.AppSettings["ReCaptchaPublicKey"];
}

<div class="logueo-contenido">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true);
    <div class="logueo-form-1">
        <div class="rojo22">Email</div>
        <div class="logueo-form-1-in">
            <div class="logueo-input-1">@Html.TextBoxFor(x => x.Email, new{ @class="cajausername" })</div>
            <!--div class="textoform logueo-texto-1">Forgot username</div-->
        </div>
    </div>
    <div class="logueo-form-2">
        <div class="rojo22">New Password</div>
        <div class="logueo-form-1-in">
            <div class="logueo-input-1">@Html.PasswordFor(x => x.Password1, new{ @class="cajausername" })</div>
            <div class="textoform logueo-texto-2">Forgot password</div>
        </div>
    </div>
    <div class="logueo-form-2">
        <div class="rojo22">Confirm New Password</div>
        <div class="logueo-form-1-in">
            <div class="logueo-input-1">@Html.PasswordFor(x => x.Password2, new { @class = "cajausername" })</div>
            <!--div class="textoform logueo-texto-2">Forgot password</div-->
        </div>
    </div>
    <div class="logueo-enviar">
        <div class="logueo-enviar-img"><input type="image" value="Log In" src="/Content/images/log-in.png"/></div>
        @*<div class="textoform logueo-enviar-tex">Don't have an account? @Html.ActionLink("Sign Up", "Signin1", "Registration", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "" })</div>*@
    </div>
}
</div>