@using System.Configuration
@model SwissKip.Web.Models.BasicInfoModel
@{
    Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
    ViewBag.Title = "Confirm";
}

<div style="clear:both; height:60px;"></div>
<div id="cajaregistro" align="center">
@using (Html.BeginForm())
{
    <div>
        <div style="padding-bottom:10px;padding-top:7px;"><span class="rojo22">Step 2 of 2:</span> <span class="black22"> INSERT YOUR SECURITY TOKEN</span></div>
    </div>
    
    
    <div class="interior700">
            <div style='margin-top:50px; width:370px; background-color:@this.Model.Description2; overflow:hidden; padding-top:10px; padding-bottom:10px;' class="esquina">
                <div style="float:left; margin-left:20px;"><img src=@this.Model.Description1 /></div>
                <div style="float:left; margin-left:20px; font-family:Arial; font-size:15px; color: #fff; text-align:left; padding-top:5px; line-height: 20px;">@this.Model.FullName<br />
                <b>Frase Personal</b>: @this.Model.SecretPhrase<br />
                </div>
            </div>
                        <div style="padding-bottom:30px;padding-top:50px;">                <div style="float:left; width:370px; text-align:left;"><span class="negro17">An email has sent to you including a <span class="rojo17">Security Token</span> for this session. Go to your e-mail, copy the six digit number and paste it in the token field:<br /><br />                Swisskip Security Tokens expire after 2 minutes. If your token has expired you need to log in again. </span></div>                <div style="float:left; width:225px; margin-left:15px;">@Html.TextBoxFor(x => x.TokenNumberNew, new { @class = "cajatoken" })                    <div id="contador" class="negro12" style="text-align:right; margin-top:5px; margin-right:5px;"></div>                </div>            </div>            


    </div>

    <div style="margin-top:20px;">
        <div>@Html.ValidationSummary(true)</div>
        <div style="margin-bottom:70px;"><input type="submit" value="ENTER" class="botonlogin" /></div>
    </div>
    
    <div style="clear:both;"></div>


}  
</div>

<script>
    $(function () {
        var count = @this.Model.TokenSeconds;
        countdown = setInterval(function () {
            $("#contador").html("<b>"+ count + "</b> seconds remaining!");
            if (count == 0) {
                window.alert("Your session has expired. Please log in again.");
                window.location = '/Authentication/SignIn';
            }
            count--;
        }, 1000);
    });
</script>