@using SwissKip.Web
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <title>Swiss Kip</title>
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
</head>
<body>
    <div id="general">
        <div id="cabecera">
            <a href="/Home/Index">
                <div id="logo"></div>
            </a>
            <div id="bienvenido" class="rojo">
                @if (this.Context.User.Identity.IsAuthenticated)
                {
                    <p>
                        Welcome <strong>@Current.User.FirstName </strong>
                        <br/>
                        @Html.ActionLink("Sign Out","SignOut","Authentication")
                    </p>
                }
                else
                {
                    <p>
                        <strong>
                            @Html.ActionLink("Sign In", "SignIn", "Authentication", null, new { id = "registerLink", @class = "rojo" })
                        </strong>
                        /
                        <strong>
                            @Html.ActionLink("Free Sign Up", "Signin1", "Registration", null, new { id = "registerLink", @class = "rojo" })
                        </strong>
                    </p>
                }

            </div>
        </div>

        <div id="menutop">
            <div id="menucenter">
                <ul>
                    <li><a href="/Home/TheIdea">The idea</a></li>
                    <li><a href="/Home/TheProcess">The Process</a></li>
                    <!--li><a href="/Home/HowDoesItWork">How does it work?</a></li-->
                    <li><a href="/Home/Security">Security</a></li>
                    <li><a href="/Owner"><i>my</i>kip</a></li>
                </ul>
            </div>
        </div>

        <div>
            @RenderBody()
        </div>

        <footer>
            <div id="piedepagina">
                <div id="menupie">
                    <nav id="mnpie">
                        <ul>
                            <li><a href="/Home/Faqs">FAQs</a></li>
                            <li><a href="/Home/PrivacyPolicy">Privacy</a></li>
                            <li><a href="/Home/Contact">Contact</a></li>
                            <li><a href="/Home/We">Free Account</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="pie-right">
                    <div class="pie-all textopie">
                        © 2012 All Rights Reserved. SwissKip® is a registered trademark
                    </div>
                    @*<div class="pie-img" align="right">
                        <a href="#">
                            <img src="~/Content/images/paypar.jpg" border="0" />
                        </a><a href="#">
                            <img src="~/Content/images/mastercard.jpg" border="0" />
                        </a><a href="#">
                            <img src="~/Content/images/visa.jpg" border="0" />
                        </a>
                    </div>*@
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    @*@Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval")*@
</body>
</html>
