@using System.Configuration
@model SwissKip.Web.Models.AccountCreateModel
@{
    Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
    ViewBag.Title = "New Account";
    //ReCaptcha.PublicKey = ConfigurationManager.AppSettings["ReCaptchaPublicKey"];
}

<div id="contenido">
<div class="interior1-contenido">
    <div class="interior1-titulo black22" align="left">Create your SwissKip account</div>
    @using (Html.BeginForm())
    {
        <div class="interior1-form-1">
            <div class="interior1-form-text1 rojo20">First Name</div>
            <div class="interior1-form-inpt1">@Html.TextBoxFor(x => x.FirstName, new { @class = "cajausername" })
                <div>@Html.ValidationMessageFor(x => x.FirstName)</div>
            </div>
        </div>
        
        <div class="interior1-form-1">
            <div class="interior1-form-text1 rojo20">Last Name</div>
            <div class="interior1-form-inpt1">@Html.TextBoxFor(x => x.LastName, new { @class = "cajausername" })
                <div>@Html.ValidationMessageFor(x => x.LastName)</div>
            </div>
            
        </div>
        
        <div class="interior1-form-2">
            <div class="interior1-form-text1 rojo20">Email</div>
            <div class="interior1-form-inpt1">
                @Html.TextBoxFor(x => x.Email, new { @class = "cajausername" })
                <div>@Html.ValidationMessage("Email")</div>
            </div>
            
        </div>
        
        <div class="interior1-form-2">
        	<div class="interior1-form-text1 rojo20">Username</div>
            <div class="interior1-form-inpt1">@Html.TextBoxFor(x => x.UserName, new { @class = "cajausername" })
                <div>@Html.ValidationMessageFor(x => x.UserName)</div>
            </div>
            
        </div>
        <div class="interior1-form-2">
            <div class="interior1-form-text1 rojo20">Password</div>
            <div class="interior1-form-inpt1">@Html.PasswordFor(x => x.Password, new { @class = "cajausername" })
                <div>@Html.ValidationMessageFor(x => x.Password)</div>
            </div>
            
        </div>
        
        @*<div class="interior1-cont-cpt">
            <div class="interior1-form-text1 rojo20">Code</div>
            @ReCaptcha.GetHtml(theme: "red")
            <div style="margin-left:115px;">@Html.ValidationMessage("Catpcha")</div>
        </div>*@
        
        <div class="interior1-crear-c" align="left"><input type="image" value="Enviar" src="/Content/images/creare-my-account.png"/></div>
        <div class="interior1-cr-txt textoform">by clicking this button, you agree to SwissKip's <a href="@Url.Action("Terms", "Home")" target="_blank"><strong>Terms of Use</strong></a></div>
    }
        
  </div>
  </div>