@using System.Configuration
@model SwissKip.Web.Models.AccountEditModel
@{
    ViewBag.Title = "Secret Information";
}
<div align="center">
<div id="cajaregistro" align="center">
    @using (Html.BeginForm())
    {
    <div class="interior700">
            <div style="padding-bottom:10px;padding-top:15px;"><span class="black22">Selecciona tus elementos</span></div>
            <div style="padding-bottom:30px;padding-top:30px;"><span class="negro17">Como elementos extras de seguridad, deberás escoger: <span class="rojo17">ícono, frase personal y color.</span><br />            Estos 3 elementos aparecerán siempre en tu pantalla una vez que inicies sesión</span></div>
            
            <div style="padding-top:50px;">
                <div style="width:200px; text-align:center; float:left;">
                    <spa class="rojo14"><u>Icono</u></spa><br /><br />
                    @*@foreach (var a in Model.Answers)
                    {
                        <div style="width:70px; margin-left:15px; height:50px; margin-bottom:10px; float:left;">
                        <div style="float:left; margin-top:15px;">@Html.RadioButtonFor(x => x.IconSelected, x.IconId)</div>
                        <div style="float:left;"><img src=@x.IconPath /></div>
                        </div>
                    }*@


                    <div style="width:70px; margin-left:15px; height:50px; margin-bottom:10px; float:left;">
                        <div style="float:left; margin-top:15px;">@Html.RadioButtonFor(x => x.IconId, 1)</div>
                        <div style="float:left;"><img src="/content/images/candado.png" /></div>
                    </div>
                    <div style="width:70px; margin-left:15px; height:50px; margin-bottom:10px; float:left;">
                        <div style="float:left; margin-top:15px;">@Html.RadioButtonFor(x => x.IconId, 2)</div>
                        <div style="float:left;"><img src="/content/images/caja.png" /></div>
                    </div>
                    <div style="width:70px; margin-left:15px; height:50px; margin-bottom:10px; float:left;">
                        <div style="float:left; margin-top:15px;">@Html.RadioButtonFor(x => x.IconId, 3)</div>
                        <div style="float:left;"><img src="/content/images/camara.png" /></div>
                    </div>
                    <div style="width:70px; margin-left:15px; height:50px; margin-bottom:10px; float:left;">
                        <div style="float:left; margin-top:15px;">@Html.RadioButtonFor(x => x.IconId, 4)</div>
                        <div style="float:left;"><img src="/content/images/alto.png" /></div>
                    </div>

                </div>
                <div style="width:300px; text-align:center; float:left;">
                    <spa class="rojo14"><u>Frase personal</u></spa><br /><br /><br /><br />
                    @Html.TextBoxFor(x => x.SecretPhrase, new { @class = "caja230x30", @value = "Escribe tu frase personal" })
                
                </div>

                <div style="width:200px; text-align:center; float:left;">
                    <spa class="rojo14"><u>Color</u></spa><br /><br />

                    <div style="width:70px; margin-left:15px; height:50px; margin-bottom:10px; float:left;">
                        <div style="float:left; margin-top:15px;">@Html.RadioButtonFor(x => x.ColourId, 1)</div>
                        <div style="float:left;"><img src="/content/images/marron.png" /></div>
                    </div>
                    <div style="width:70px; margin-left:15px; height:50px; margin-bottom:10px; float:left;">
                        <div style="float:left; margin-top:15px;">@Html.RadioButtonFor(x => x.ColourId, 2)</div>
                        <div style="float:left;"><img src="/content/images/verde.png" /></div>
                    </div>
                    <div style="width:70px; margin-left:15px; height:50px; margin-bottom:10px; float:left;">
                        <div style="float:left; margin-top:15px;">@Html.RadioButtonFor(x => x.ColourId, 3)</div>
                        <div style="float:left;"><img src="/content/images/rojo.png" /></div>
                    </div>
                    <div style="width:70px; margin-left:15px; height:50px; margin-bottom:10px; float:left;">
                        <div style="float:left; margin-top:15px;">@Html.RadioButtonFor(x => x.ColourId, 4)</div>
                        <div style="float:left;"><img src="/content/images/azul.png" /></div>
                    </div>
                </div>
            </div>

    </div>

    <div style="float:right; margin-right:200px; margin-top:50px;margin-bottom:70px;">
        <div style=" float:right;"><input type="image" value="NEXT" class="button red" /></div>
        <div style="float:right;margin-right:10px;"><a href="javascript:history.back(-1);"><input type="button" value="BACK" class="button red" /></a></div>
    </div>

    }
</div>
