@using System.Configuration
@model SwissKip.Web.Models.BankAccountCreateModel
@{
    ViewBag.Title = "Create";
    //ReCaptcha.PublicKey = ConfigurationManager.AppSettings["ReCaptchaPublicKey"];
}
<div id="contenido">
  	<div style="float:left; padding-left:100px;">
    @using (Html.BeginForm())
    {
    	<div class="rojo25" style="float:left; z-index:0;">
        	<div style="float:left; padding-bottom:2px;">My stuff</div>
        	<div style="float:left; padding-left:235px;"><a href="/FileManager/Index" onMouseDown="MM_swapImage('menu11','','/Content/images/documentos.png',1)" onMouseOver="MM_swapImage('menu11','','images/documentos-on.png',0)" onMouseOut="MM_swapImgRestore()"><img src="/Content/images/documentos.png" border="0" name="menu11"></a></div>
            <div style="float:left; padding-left:8px;"><img src="/Content/images/cuentas-bancarias.png"></div>
            <div style="float:left; padding-left:8px;"><a href="/DigitalAccount/Index" onMouseDown="MM_swapImage('menu12','','/Content/images/cuentas-digitales.png',1)" onMouseOver="MM_swapImage('menu12','','/Content/images/cuentas-digitales-on.png',0)" onMouseOut="MM_swapImgRestore()"><img src="/Content/images/cuentas-digitales.png" border="0" name="menu12"></a></div>
        </div>
    	<div style="float:left; width:738px; height:1px; z-index:1; margin-top:-7px; background:#b5b5b3;"></div>
        <div style="float:left; width:830px; padding-top:25px;">
            <div style="float:left; width:730px;">
            	<div style="float:left; padding-left:115px; width:500px;" class="negro12">El número de cuenta y la clave tienen que ser digitados mediante el uso del teclado virtual.</div>
        	</div>
            <div style="float:left; padding-top:40px; padding-left:90px;">
               <div style="float:left; width:480px;">
                    <div style="float:left; width:480px;">
                        <div style="float:left; width:150px; padding-top:4px;" class="textonegrita15">Número de cuenta:</div>
                        <div style="float:left;">
                        @Html.TextBoxFor(x => x.BankAccountNumber, new { @class = "caja245x23" })
                        	@*<div style="float:left;"><input name="texto1" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="texto3" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="texto5" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="texto7" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="texto9" runat="server" type="text" readonly class="caja23x23" /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="rojo15">(1)</div>*@
                        </div>
                    </div>
                    @*<div style="float:left; width:480px;">
                        <div style="float:left; padding-left:150px; padding-top:4px;">
                        	<div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="texto2" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="texto4" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="texto6" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="texto8" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="texto0" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="rojo15">(2)</div>
                        </div>
                    </div>*@
                    <div style="float:left; width:480px; padding-top:7px;">
                        <div style="float:left; width:150px; padding-top:4px;" class="textonegrita15">Clave:</div>
                        <div style="float:left;">
                        @Html.TextBoxFor(x => x.Password, new { @class = "caja245x23" })
                        	@*<div style="float:left;"><input name="clave1" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="clave3" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="clave5" type="text" class="caja23x23" readonly /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="rojo15">(1)</div>*@
                        </div>
                    </div>
                    @*<div style="float:left; width:480px;">
                        <div style="float:left; padding-left:150px; padding-top:4px;">
                        	<div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="clave2" type="text" class="caja23x23" /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="clave4" type="text" class="caja23x23" /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="textonegrita24">*</div>
                            <div style="float:left;"><input name="clave6" type="text" class="caja23x23" /></div>
                            <div style="float:left; width:29px; padding-top:3px;" align="center" class="rojo15">(2)</div>
                        </div>
                    </div>*@
                    <div style="float:left; padding-top:7px; width:480px;">
                        <div style="float:left; width:150px;" class="textonegrita15">Banco:</div>
                        <div style="float:left;" id="BankName">@Html.TextBoxFor(x => x.BankName, new { @class = "caja245x23" }) </div>
                    </div>
                    <div style="float:left; padding-top:7px; width:480px;">
                        <div style="float:left; width:150px;" class="textonegrita15">País:</div>
                        @*<div style="float:left;" id="Country"><input name="Country" type="text" class="caja245x23" /></div>*@
                        <div style="float:left;">@Html.DropDownList("CountryId", ViewData["country_list"] as IEnumerable<SelectListItem>, "", new { @class = "caja245x23" })
                        </div>
                    </div>
                    @*<div style="float:left; padding-top:7px; width:500px;">
                        <div style="float:left; width:150px;" class="textonegrita15">Código:</div>
                        <div style="float:left;">
                            <div style="float:left; padding-left:0px;">
                                <div style="float:left; width:125px;">
                                    <div style="float:left;">
                                    @ReCaptcha.GetHtml(theme: "red")
                                    @Html.ValidationMessage("Catpcha")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
        	</div>
            @*<div style="float:left; width:120px;">
            	<div style="float:left; padding-top:40px;">
            		<div style="float:left;"><a href="javascript:Assign(9);"><img src="/Content/images/9.png" /></a></div>
                	<div style="float:left; padding-left:7px;"><a href="javascript:Assign(2);"><img src="/Content/images/2.png" /></a></div>
                	<div style="float:left; padding-left:7px;"><a href="javascript:Assign(1);"><img src="/Content/images/1.png" /></a></div>
                </div>
                <div style="float:left; padding-top:7px;">
            		<div style="float:left;"><a href="#" onClick="javascript:Assign(8);"><img src="/Content/images/8.png"></a></div>
                	<div style="float:left; padding-left:7px;"><a href="#" onClick="javascript:Assign(4);"><img src="/Content/images/4.png"></a></div>
                	<div style="float:left; padding-left:7px;"><a href="#" onClick="javascript:Assign(7);"><img src="/Content/images/7.png"></a></div>
                </div>
                <div style="float:left; padding-top:7px;">
            		<div style="float:left;"><a href="#" onClick="javascript:Assign(5);"><img src="/Content/images/5.png"></a></div>
                	<div style="float:left; padding-left:7px;"><a href="#" onClick="javascript:Assign(3);"><img src="/Content/images/3.png"></a></div>
                	<div style="float:left; padding-left:7px;"><a href="#" onClick="javascript:Assign(6);"><img src="/Content/images/6.png"></a></div>
                </div>
                <div style="float:left; padding-top:7px;">
            		<div style="float:left;"><a href="#" onClick="javascript:Assign(0);"><img src="/Content/images/0.png"></a></div>
                	<div style="float:left; padding-left:7px;" class="negro11"><a href="javascript:clean();">borrar</a> </div>
                </div>
            </div>*@
        </div>
        <div style="float:left; width:730px;">
            	<div style="float:left; padding-left:5px; width:600px; padding-top:45px;" class="negro11"><span class="rojo15">(1)</span> Estos datos se guardan en SwissKip</div>
                <div style="float:left; padding-left:5px; width:600px; padding-top:3px;" class="negro11"><span class="rojo15">(2)</span> Estos datos son enviados a tu beneficiario y no se guardan en nuestros servidores</div>
        	</div>
        <div style="float:left; width:738px; margin-top:5px; height:1px; background:#b5b5b3;"></div>
        <div style="float:left; width:738px; padding-top:4px;"><div style="float:right;" id="Enviar"><input type="image" value="Enviar" src="~/Content/images/guardar.png"/></div>
            <div style="float:right; padding-right:5px;"><a href="JavaScript:history.back(-1);"><img src="/Content/images/volver.png" border="0"></a></div>
        </div>
    }
    </div>
  </div>

  @*<script type="text/javascript">
      
//      $(function () { alert("uno");
//          $("#Enviar").click(function () {
//                alert("dos");
//                alert(document.forms[0].elements['BankName'].value);
//                return false;
//              }

//              $.ajax({
//                  url: '/BankAccount/Index',
//                  type: 'POST',
//                  dataType: 'json',
//                  data: json,
//                  contentType: 'application/json; charset=utf-8',
//              });
//          });
//      });

//      function getValues() {
//          var BankAccount1 =
//                  document.forms[0].elements['texto1'].value + '*' +
//                  document.forms[0].elements['texto3'].value + '*' +
//                  document.forms[0].elements['texto5'].value + '*' +
//                  document.forms[0].elements['texto7'].value + '*' +
//                  document.forms[0].elements['texto9'].value;

//          var BankAccount2 =
//                  document.forms[0].elements['texto2'].value + '*' +
//                  document.forms[0].elements['texto4'].value + '*' +
//                  document.forms[0].elements['texto6'].value + '*' +
//                  document.forms[0].elements['texto8'].value + '*' +
//                  document.forms[0].elements['texto0'].value;

//          var Clave1 =
//                  document.forms[0].elements['texto1'].value + '*' +
//                  document.forms[0].elements['texto3'].value + '*' +
//                  document.forms[0].elements['texto5'].value;

//          var Clave2 =
//                  document.forms[0].elements['texto2'].value + '*' +
//                  document.forms[0].elements['texto4'].value + '*' +
//                  document.forms[0].elements['texto6'].value;

//          var BankName = document.forms[0].elements['BankAccount'].value;
//          var Country = document.forms[0].elements['Country'].value;

//          return { BankAccount1: BankAccount1, BankAccount2: BankAccount2, Clave1: Clave1, Clave2: Clave2, BankName: BankName, Country: Country };
//      }

      function clean() {
          document.forms[0].elements['texto1'] ="";
          document.forms[0].elements['texto2'] = "";
          document.forms[0].elements['texto3'] = "";
          document.forms[0].elements['texto4'] = "";
          document.forms[0].elements['texto5'] = "";
          document.forms[0].elements['texto6'] = "";
          document.forms[0].elements['texto7'] = "";
          document.forms[0].elements['texto8'] = "";
          document.forms[0].elements['texto9'] = "";
          document.forms[0].elements['texto0'] = "";

          document.forms[0].elements['clave1'] = "";
          document.forms[0].elements['clave2'] = "";
          document.forms[0].elements['clave3'] = "";
          document.forms[0].elements['clave4'] = "";
          document.forms[0].elements['clave5'] = "";
          document.forms[0].elements['clave6'] = "";
      }
    
      function Assign(valor) {
          var texto1 = document.forms[0].elements['texto1'];
          var texto2 = document.forms[0].elements['texto2'];
          var texto3 = document.forms[0].elements['texto3'];
          var texto4 = document.forms[0].elements['texto4'];
          var texto5 = document.forms[0].elements['texto5'];
          var texto6 = document.forms[0].elements['texto6'];
          var texto7 = document.forms[0].elements['texto7'];
          var texto8 = document.forms[0].elements['texto8'];
          var texto9 = document.forms[0].elements['texto9'];
          var texto0 = document.forms[0].elements['texto0'];

          var clave1 = document.forms[0].elements['clave1'];
          var clave2 = document.forms[0].elements['clave2'];
          var clave3 = document.forms[0].elements['clave3'];
          var clave4 = document.forms[0].elements['clave4'];
          var clave5 = document.forms[0].elements['clave5'];
          var clave6 = document.forms[0].elements['clave6'];

          if (texto1.value == "")
              texto1.value = valor;
          else if (texto2.value == "")
              texto2.value = valor;
          else if (texto3.value == "")
              texto3.value = valor;
          else if (texto4.value == "")
              texto4.value = valor;
          else if (texto5.value == "")
              texto5.value = valor;
          else if (texto6.value == "")
              texto6.value = valor;
          else if (texto7.value == "")
              texto7.value = valor;
          else if (texto8.value == "")
              texto8.value = valor;
          else if (texto9.value == "")
              texto9.value = valor;
          else if (texto0.value == "")
              texto0.value = valor;
          else if (clave1.value == "")
              clave1.value = valor;
          else if (clave2.value == "")
              clave2.value = valor;
          else if (clave3.value == "")
              clave3.value = valor;
          else if (clave4.value == "")
              clave4.value = valor;
          else if (clave5.value == "")
              clave5.value = valor;
          else if (clave6.value == "")
              clave6.value = valor;
      }
      
  </script>*@