@model SwissKip.Web.Models.UserCreateModel
@using SwissKip.Web.Helpers.Extensions
@{
    ViewBag.Title = "Witnesses";
    if (Session["Signin1Store"] == null || Session["Signin2Store"] == null)
    {
        Session["Signin1Store"] = null;
        Session["Signin2Store"] = null;
        Response.Redirect("Signin1");
    }
    
}

<div style="clear:both; height:60px;"></div>

<div id="cajaregistro" align="center">
    @using (Html.BeginForm())
    {
    <div class="interior-witnesses">
            <div style="padding-bottom:10px;padding-top:7px;"><span class="rojo22">Step 3 of 6:</span> <span class="black22">Choose your Passing Witnesses</span></div>
            <div style="padding-bottom:30px;"><a href="" class="gris13">Learn more about your Passing Witnesses</a></div>
            
            <div style="overflow:hidden;">
                @using (Html.BeginCollectionItem("Witnesses"))
                {            
                <div class="itemwitnesses">
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">First Name</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.FirstName, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.FirstName)</div>
                    </div>
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">Last Name</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.LastName, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.LastName)</div>
                    </div>
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">Email</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.Email, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.Email)</div>
                    </div>
                </div>
                }

                @using (Html.BeginCollectionItem("Witnesses"))
                {            
                <div class="itemwitnesses">
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">First Name</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.FirstName, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.FirstName)</div>
                    </div>
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">Last Name</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.LastName, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.LastName)</div>
                    </div>
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">Email</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.Email, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.Email)</div>
                    </div>
                </div>
                }

                @using (Html.BeginCollectionItem("Witnesses"))
                {            
                <div class="itemwitnesses">
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">First Name</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.FirstName, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.FirstName)</div>
                    </div>
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">Last Name</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.LastName, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.LastName)</div>
                    </div>
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">Email</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.Email, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.Email)</div>
                    </div>
                </div>
                }

                @using (Html.BeginCollectionItem("Witnesses"))
                {            
                <div class="itemwitnesses">
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">First Name</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.FirstName, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.FirstName)</div>
                    </div>
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">Last Name</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.LastName, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.LastName)</div>
                    </div>
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">Email</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.Email, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.Email)</div>
                    </div>
                </div>
                }

                @using (Html.BeginCollectionItem("Witnesses"))
                {            
                <div class="itemwitnesses">
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">First Name</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.FirstName, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.FirstName)</div>
                    </div>
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">Last Name</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.LastName, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.LastName)</div>
                    </div>
                    <div class="interior1-form-wit">
                        <div class="interior1-form-textwit negro14">Email</div>
                        <div class="interior1-form-inptwit" align="left">@Html.TextBoxFor(x => x.Email, new { @class = "cajausername" })<br />
                        @Html.ValidationMessageFor(x => x.Email)</div>
                    </div>
                </div>
                }

                <div class="itemwitnesses">
                    <img src="/content/images/addmore.png" />
                </div>
            
            </div>



    </div>

     <div style="width:540px;margin:auto;overflow:hidden;">
                <div style="float:right;margin-bottom:70px;">
                    <div style=" float:right;"><input type="submit" value="Next" class="botonext" /></div>
                    <div style="float:right;margin-right:10px;"><input type="button" value="Back" class="botonext" onclick="history.back();" /></div>
                </div>
     </div>

    <div style="clear:both;"></div>
    <div class="registropasos">
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocessok.gif" /></div>
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocessok.gif" /></div>
            <div style="float:left;"><img src="/content/images/processno.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocess.gif" /></div>
            <div style="float:left;"><img src="/content/images/processvacio.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocess.gif" /></div>
            <div style="float:left;"><img src="/content/images/processvacio.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocess.gif" /></div>
            <div style="float:left;"><img src="/content/images/processvacio.gif" /></div>
    </div>
    }
</div>

  